In [355]:
import pandas as pd
import matplotlib.pyplot as plt

In [356]:
df=pd.read_csv("new2.csv")
df.head(4)

,CustomerID,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,CUST0001,56,2,119974.27,2,1,1,158235.96,0
1,CUST0002,69,2,171491.93,1,0,0,199548.34,0
2,CUST0003,46,8,4344.95,2,0,1,46315.10,0
3,CUST0004,32,6,80782.66,1,1,0,97333.66,1

In [357]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerID       1000 non-null   object
 1   Age              1000 non-null   int64
 2   Tenure           1000 non-null   int64
 3   Balance          1000 non-null   float64
 4   NumOfProducts    1000 non-null   int64
 5   HasCrCard        1000 non-null   int64
 6   IsActiveMember   1000 non-null   int64
 7   EstimatedSalary  1000 non-null   float64
 8   Exited           1000 non-null   int64
dtypes: float64(2), int64(6), object(1)
memory usage: 70.4+ KB

In [358]:
df.isnull().sum()

CustomerID         0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [359]:
df.drop(columns=["CustomerID"],inplace=True)

In [360]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              1000 non-null   int64
 1   Tenure           1000 non-null   int64
 2   Balance          1000 non-null   float64
 3   NumOfProducts    1000 non-null   int64
 4   HasCrCard        1000 non-null   int64
 5   IsActiveMember   1000 non-null   int64
 6   EstimatedSalary  1000 non-null   float64
 7   Exited           1000 non-null   int64
dtypes: float64(2), int64(6)
memory usage: 62.6 KB

In [361]:
x=df.drop("Exited",axis=1)
y=df["Exited"]

In [362]:
from sklearn.model_selection import train_test_split

In [363]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [364]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [365]:
x_new=sc.fit_transform(x_train)
x_new2=sc.transform(x_test)

In [366]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
model=Sequential()
model.add(Dense(3,activation="relu",input_dim=7))
model.add(Dense(1,activation="sigmoid"))

c:\Users\lenovo\AppData\Local\Programs\Python\Python313\Lib\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [368]:
model.summary()

Model: "sequential_19"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_35 (Dense)                │ (None, 7)              │            56 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_36 (Dense)                │ (None, 1)              │             8 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 64 (256.00 B)

 Trainable params: 64 (256.00 B)

 Non-trainable params: 0 (0.00 B)

In [369]:
model.compile(loss="binary_crossentropy",optimizer="Adam")

In [370]:
model.fit(x_new,y_train,epochs=10)

Epoch 1/10
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.0041
Epoch 2/10
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.9090
Epoch 3/10
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.8314
Epoch 4/10
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.7685
Epoch 5/10
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.7181
Epoch 6/10
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.6776
Epoch 7/10
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.6456
Epoch 8/10
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.6203
Epoch 9/10
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5988
Epoch 10/10
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5829

In [371]:
model.layers[0].get_weights()

[array([[ 0.14026138,  0.37782022,  0.44522136, -0.17973687, -0.10592858,
         -0.36004585,  0.8142419 ],
        [ 0.31260946, -0.0655555 ,  0.34375364,  0.45849916, -0.07086171,
          0.16713274,  0.35514176],
        [-0.37279442,  0.3527329 , -0.3641901 ,  0.03346764,  0.30995473,
         -0.18439795,  0.2747979 ],
        [-0.00418381,  0.26333293,  0.3444039 ,  0.01925769, -0.17794225,
          0.6631361 , -0.11153778],
        [-0.30454051, -0.0279373 ,  0.27874666,  0.3996214 , -0.1308443 ,
         -0.40634507,  0.4661092 ],
        [-0.44834656,  0.42107958,  0.37137532,  0.30512536,  0.12982051,
         -0.2519851 ,  0.1557434 ],
        [ 0.25928438,  0.54279125, -0.34964183, -0.34532684,  0.0490696 ,
         -0.17796183,  0.53313035]], dtype=float32),
 array([-0.16271046, -0.15454194, -0.16968107, -0.15789208, -0.16664971,
         0.20723002,  0.19470355], dtype=float32)]

In [372]:
new3=model.predict(x_new2)

7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step

In [373]:
import numpy as np

In [374]:
y_pred=np.where(new3>0.5,1,0)

In [375]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.685